td.bvs-petventures--parent-container-cell {
  text-align: center;
  vertical-align: top;
  display: grid;
  justify-items: center;
}

table.bvs-petventures--container {
  margin: 12px;
  padding: 12px;
  border-collapse: collapse;
  border: 0px solid blue;
  background-color: rgba(238, 255, 255, 50%);
  height: fit-content;
  width: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;
}

.bvs-petventures--form {
  padding: 6px;
}

.bvs-petventures--table {
  border-collapse: collapse;
  font-size: 11px;
  font-family: monospace;
  color: #121212;
  background: white;
}

.bvs-petventures--table tr > td:last-of-type,
.bvs-petventures--table tr > td:nth-of-type(11),
.bvs-petventures--table thead {
  background: #121212;
  color: #fff;
  font-weight: bold;
}

.bvs-petventures--table td,
.bvs-petventures--table th {
  padding: 2px;
  text-align: center;
  border: 2px solid #121212;
}

.bvs-petventures--table thead > th:nth-of-type(11),
.bvs-petventures--table tr > :nth-of-type(11) {
  text-align: right;
}

button.bvs-petventures--btn-reset,
button.bvs-petventures--btn-start {
  height: 32px;
  padding: 6px;
  margin: 6px 6px 0 6px;
  background: #121212;
  color: #ffffff;
  border: 2px solid #121212;
  border-radius: 4px;
  cursor: pointer;
}

button.bvs-petventures--btn-reset {
  background: #ffffff;
  border: 2px solid #121212;
  color: #121212;
}
